head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Foundationsa
  link(rel='stylesheet', href='css/app.css')
  script(src='bower_components/modernizr/modernizr.js')
  <!--[if lt IE 9]>
  script(src='js/ie/html5shiv.js')
  script(src='js/ie/nwmatcher-1.2.5-min.js')
  script(src='js/ie/selectivizr-1.0.3b.js')
  script(src='js/ie/respond.min.js')
  <![endif]-->
