<!--[if lt IE 9]>
script(src="js/ie/jquery.js")
<![endif]-->
<!--[if gte IE 9]><!-->
script(src='bower_components/jquery/dist/jquery.min.js')
<!--<![endif]-->
script(src='bower_components/foundation/js/foundation.min.js')
script(src='js/app.js')
script(src='bower_components/REM-unit-polyfill/js/rem.min.js')

